region             = "us-east"
cf_org_name        = "changeme"
cf_space_name      = "changeme"
cf_username        = "changeme"
cf_password        = "changeme"
grafana_user       = "changeme" 
grafana_password   = "changeme"
cf_domain_name     = "changeme"
iam_application_id = "changeme"
region             = "changeme"
environment        = "changeme"
name_postfix       = "changeme"
cf_space_name      = "changeme"
disk               = 1000
memory             = 512
docker_password    = "changeme"
docker_username    = "changeme"
postfix            = "changeme"
oauth2_client_id   = "changeme"
oauth2_password    = "changeme"
org_admin_username = "changeme"
org_admin_password = "changeme"
